@charset "UTF-8";
/* Shawarma Express */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}
	
html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	background: url('../images/bg.png') repeat right top;
	font-family: 'Roboto', sans-serif;
	line-height: 1.2rem;
}


p {
	margin-bottom: 1.5rem;
	font-size: 0.9rem;
}

.main {
	width: 100%;
	margin: 0 0;
}

img {
	width: 100%;
}

/*------------------------------------------------ Header*/

.h1 {
	width: 100%;
	padding: 1rem 0.9rem;
	color: #fff;
	text-transform: uppercase;
}

header {
	background-color: #000;
	width: 100%;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	padding: 1rem;
	right:5%;
	top: 7px;
	
	background: #000 url('../images/nav-icon.svg') no-repeat center center;
	/* background-color || background-image || background-repeat || background-position*/
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: #ccc;
}

.nav li,
.nav li:link,
.nav li:visited {
	display: inline;
	float: left;
}

.nav a, 
.nav a:link,
.nav a:visited{
	font-size: 0.8rem;
	display: block;
	text-align: center;
	width: 90px;
	padding: 0.5rem 0rem;
	color: #e6b62b;
	text-decoration: none;
	background-color: #000;
	border-top: 1px solid #e6b62b;
	text-transform: uppercase;
	font-weight: 300;
	/* border-width || border-style || border-color */
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color: #000;
}

/* Toggle Nav Styles*/


.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: block;
}

/* --------------------------------------------- Home */

.logo {
	width: 100%;
	max-width: 40%;
	margin: 7rem 4rem;
}

.home {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 2rem 1rem;
}

.home-text{
	padding: 2rem 1rem 0 1rem;
}

h1 {
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 2rem;
	margin-bottom: 1rem;
}

/* --------------------------------------------------------------------- Content */

.wrapper {
	overflow: hidden; /* Will wrap around its children when they float */ 
	padding-top: 4.5rem;
}

#content1, /* # hooks an ID */
#content2,
#content3,
#content4 {
	clear: both;   /* Will stack after each other if their children have floats */
	padding: 6rem 10.25%;
}


/* --------------------------------------------------------------------- Footer */

.bottom {
	background-color: #F0F;
	height: 12rem;
	text-align: center;
	padding-top: 1.5rem;
	
}

.bottom a {
	color: #FFF;
	text-decoration: none;
}	